@model UserProfileViewModel
@{
    ViewData["Title"] = "Profile Page";
    Layout = "_Layout1";
}

<link rel="stylesheet" href="~/css/Profile.css">







<div class="profile-container">
    <div class="avatar-container">
        <div class="avatar">
           
        </div>
        <div class="profile-info">
            <h2>@Model.FullName</h2>
            <p><strong>Username:</strong> @Model.UserName</p>
        </div>
    </div>

    <div class="order-info">
        <h3>Orders</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Order Date</th>
                    <th>Cancel</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Orders)
                {
                    <tr>
                        <td>@order.Product.Name</td>
                        <td>@order.Product.Price?.ToString("C")</td>
                        <td>@order.OrderDate.ToString("dd/MM/yyyy")</td>
                        <td><form action="/Cart/DeleteOrder" method="post" style="display:inline;">
                            <input type="hidden" name="orderId" value="@order.OrderId" />
                            <button type="submit" class="btn btn-danger">Cancel</button>
                            </form>
                        </td>
                    </tr>
                }
                @if (Model.Orders.Count == 0)
                {
                    <tr>
                        <td colspan="4">Henüz siparişiniz yok.</td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Model.Orders.Count > 0)
        {
            <div class="total-order">
                <strong>Toplam Sipariş Tutarı: </strong> 
                @Model.Orders.Sum(o => o.Product.Price ?? 0).ToString("C")
            </div>
        }
    </div>
</div>

